<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<div>

  <table>
    <thead>
      <tr>

        <th>&nbsp;Course</th>
        <th>Section #</th>
      </tr>
    </thead>

    <tbody>
    <% @professor.sections.each do |section| %>
      <tr>
        <td ><%= section.course.name %></td>
        <td><%= section.number %></td>

      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;<%= section.students.count %> Students Enrolled</td>
      </tr>
      <tr>
          <td>
            <table>
              <thead>
                <tr>
                  <th class="indent-cell">&nbsp;</th>
                  <th>Last</th>
                  <th>First</th>
                  <th>Student Number</th>
                </tr>
              </thead>
                <tbody>
                  <% section.students.each do |student| %>
                   <tr>
                     <td class="indent-cell">&nbsp;</td>
                     <td><%= student.last_name %>, </td>
                     <td><%= student.first_name %></td>
                     <td><%= student.student_id %></td>
                   </tr>
                  <% end %>
                </tbody>


            </table>

        </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
