<!DOCTYPE html>
<html>
  <head>
    <title>University</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to("Home", access_menu_path) %></li>
            <li><%= link_to("Courses", courses_path) %></li>
            <li><%= link_to("Professors", professors_path) %></li>
            <li><%= link_to("Sections", sections_path) %></li>
            <li><%= link_to("Manage Admins", admin_users_path) %></li>
            <li><%= link_to("Students", students_path) %></li>
            <li><%= link_to("Logout", access_logout_path) %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container top-border">
      <%= yield %>
    </div>
  </body>
</html>
